body {
	font-family: 'Raleway', sans-serif;
}

.top {
	height: 100px;
}

h1 {
	font-size: 28px;
	line-height: 0px;
	padding-top: 20px;

}

h2 {
	font-size: 44px;
	line-height: 0px;
	font-weight: 100;
}


.clear {
  clear: both;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
	display: block;
}


header {
	overflow: hidden;
	width: 100%;
}

section {
	width: 95%;
	margin: 0 auto;
	display: block;
}



